@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root,
.leaflet-container {
  height: calc(100vh - 3.5rem);
  width: 100vw;
  margin: 0;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.trip-info-table td {
  @apply pr-2;
  @apply last:pr-0;
}
