@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline;
}

body,
#root,
.leaflet-container {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.trip-info-table p {
  @apply mb-2;
  @apply last:mb-0;
}

.trip-info-table td {
  @apply px-2;
  @apply last:pr-0;

  @apply py-2;

  @apply first:min-w-[6em];

  @apply border;
  @apply border-solid;
  @apply border-slate-200;
}

.trip-info-table tr:last-child td {
  @apply pb-0;
}
